.signup-page{

    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:radial-gradient(circle at top left,#1d1027,#09090f 60%);

}


.signup-box{

    width:420px;
    padding:40px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border-radius:20px;
    text-align:center;
    color:white;

}


.signup-box h1{

    font-size:40px;
    margin-bottom:20px;

}


.signup-box h1 span{

    color:#ff4fa3;

}


.signup-box h2{

    margin-bottom:10px;

}


.signup-box p{

    color:#ccc;
    margin-bottom:25px;

}


.signup-box form{

    display:flex;
    flex-direction:column;
    gap:15px;

}


.signup-box input{

    padding:15px;
    border:none;
    outline:none;
    border-radius:30px;
    background:#181824;
    color:white;

}


.signup-box button{

    padding:15px;
    border:none;
    border-radius:30px;
    background:#ff4fa3;
    color:white;
    font-weight:600;
    cursor:pointer;

}


.signup-box button:hover{

    opacity:0.8;

}


.signup-footer{

    margin-top:20px;
    color:#ccc;

}


.signup-footer a{

    color:#ff4fa3;
    text-decoration:none;

}